<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style.css">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Mon CV - Portfolio GOBERVILLE Yoann</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    </head>
    <body class="back1">
        <div id="PageCentrale">
            <div id="BandeMenuHaut" class="ParamOpaciteMenu">
                <ul id="MenuRubriques">
                    <li id="active" class="active1">GOBERVILLE Yoann<span></span></li>
                    <li><a href="https://institutionsaintaspais.fr/">Site Saint-Aspais</a></li>
                    <li><a href="Accueil.html">Accueil</a></li>
                    <li><a href="Stage.html">Le BTS</a></li>
                    <li><a href="Veille.html">Lettre de Motivation</a></li>
                </ul>
            </div>
        </div>
            <div class="box">
                <span>
                </span>
            </div>
        <div class="download">
            <a class="box-button" href="../CV/GOBERVILLE Yoann CV.pdf" download>Télécharger mon CV</a>
        </div>
    </body>
    <div class="footer1">
        <div class="footer-basic">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item">Addresse Mail : <a class="email" href="mailto:rgtyoann@gmail.com">rgtyoann@gmail.com</a></li>
                    <li class="list-inline-item">Numéro de Téléphone : <span><a class="tel" href="tel: +33650360400">06 50 36 04 00</a></span></li>
                </ul>
                <p class="copyright">GOBERVILLE Yoann © 2022</p>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </div>
</html>