<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style.css">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Le BTS - Portfolio GOBERVILLE Yoann</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    </head>
    <body class="back">
        <div id="PageCentrale">
            <div id="BandeMenuHaut" class="ParamOpaciteMenu">
                <ul id="MenuRubriques">
                    <li id="active" class="active">GOBERVILLE Yoann<span></span></li>
                    <li><a href="https://institutionsaintaspais.fr/">Site Saint-Aspais</a></li>
                    <li><a href="Accueil.html">Accueil</a></li>
                    <li><a href="CV.html">CV</a></li>
                    <li><a href="Veille.html">Lettre de Motivation</a></li>
                </ul>
            </div>
        </div>
        <div class="backsisr">
            <div class="descriptif">
                Le BTS SIO est un diplôme en deux ans post-bac qui apporte des compétences dans le support et la mise à disposition de services informatiques, ainsi qu’en cybersécurité. À la fin du premier semestre, il propose deux options (SISR et SLAM) qui délivrent chacune une compétence supplémentaire : l’administration des systèmes et des réseaux (SISR) ou la conception et le développement d'applications (SLAM).
            </div>
        </div>
        <div class="backslam">
            <div class="ligne"></div>
            <div class="SISR">
                Le technicien supérieur en services informatiques aux organisations participe à la production et à la fourniture de services informatiques. Il veille au maintien de la qualité de ceux-ci. 
                Le titulaire du BTS SIO option SISR réalise ou adapte des solutions d’infrastructure et assure le fonctionnement optimal des équipements. Il intervient plus particulièrement dans l’installation, l’intégration, l’administration, la sécurisation des équipements et des services informatiques ; l’exploitation, la supervision et la maintenance d'une infrastructure ; la définition et la configuration des postes clients, des serveurs et des équipements d’interconnexion, leur déploiement et leur maintenance ; la gestion des actifs de l’infrastructure ; la recherche de réponses adaptées à des besoins d’évolution de l’infrastructure ou à des problèmes liés à la mise à disposition des services informatiques ; la résolution des incidents et l’assistance des utilisateurs ; le maintien de la qualité des services informatiques.
            </div>
            <div class="SLAM">
                Le technicien supérieur en services informatiques aux organisations participe à la production et à la fourniture de services informatiques. Il veille au maintien de la qualité de ceux-ci. 
                Développer, adapter ou maintenir des solutions applicatives : le titulaire du BTS SIO option SLAM - solutions logicielles et applications métiers, intervient plus particulièrement dans la définition des spécifications techniques à partir de l’expression des besoins des utilisateurs et des contraintes de l’organisation préalablement recensés ; la réalisation ou l’adaptation puis la validation de solutions applicatives à l’aide des environnements de développement retenus ; la gestion du patrimoine applicatif ; la rédaction de la documentation d’une solution applicative et la formation des utilisateurs ; la recherche de réponses adaptées à des problèmes liés à la fourniture des services informatiques ; l’accompagnement et l’assistance des utilisateurs.
            </div>
            <div class="SISRM">
                • Pour l’option SISR (solutions d’infrastructure, systèmes et réseaux) : technicien d’infrastructure, technicien en télécommunications, technicien de maintenance, technicien support et déploiement, technicien systèmes et réseaux, analyste d'études, webmaster…
            </div>
            <div class="SLAMM">
                • Pour l’option SLAM (solutions logicielles et applications métiers) : analyste programmeur, chargé d'études informatiques, développeur (web, d'applications informatiques ou mobiles…), technicien d'études informatiques…
            </div>
            <div class="referentiel">
                <a class="box-button" href="https://enqdip.sup.adc.education.fr/bts/referentiel/BTS_ServicesInformatiquesOrganisations.pdf" >Réferenciel du BTS SIO</a>
            </div>
        </div>
    </body>
    <div class="footer">
        <div class="footer-basic">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item">Addresse Mail : <a class="email" href="mailto:rgtyoann@gmail.com">rgtyoann@gmail.com</a></li>
                    <li class="list-inline-item">Numéro de Téléphone : <span><a class="tel" href="tel: +33650360400">06 50 36 04 00</a></span></li>
                </ul>
                <p class="copyright">GOBERVILLE Yoann © 2022</p>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </div>
</html>